---
layout: default
title: Blog
permalink: /blog/
---

<h1>Short stories about Product&nbsp;Design with focus on Interaction&nbsp;Design.</h1>

<section id="blog">
    <div class="posts">
        <h2>Posts</h2>
        <div class="posts-wrapper">
            {% for post in site.categories.post limit:5  %}
            <article>
                <h1>{{ post.title }}</h1>
                {{ post.content | split:'<!--break-->' | first }}
                <a class="read-more" href="{{ post.url }}" title="">Continue reading</a>
            </article>
            {% endfor %}
        </div>
    </div>


    <div class="lists">
        <h2>Lists</h2>
        <p>Random lists of interests</p>

        <ul>
            {% for item in site.categories.list %}
                <li>
                    <a title="" href="{{ item.url }}">{{ item.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>
