<ul class="social">
  <li>{{ site.email }}</li>
  <span class="external-links">
    <li class="figma"><a href="{{ site.figma }}" rel="author noopener"><span class="social-title">Figma</span></a></li>
    <li class="github"><a href="{{ site.github }}" rel="author noopener"><span class="social-title">Github</span></a></li>
    <li class="dribbble"><a href="{{ site.dribbble }}" rel="author noopener"><span class="social-title">Dribbble</span></a></li>
    <li class="twitter"><a href="{{ site.twitter }}" rel="author noopener"><span class="social-title">Twitter</span></a></li>
    <li class="linkedin"><a href="{{ site.linkedin }}" rel="author noopener"><span class="social-title">LinkedIn</span></a></li>
    <li class="spotify"><a href="{{ site.spotify }}" rel="author noopener"><span class="social-title">Spotify</span></a></li>
  </span>
</ul>
