<footer class="x-small">
    <p>✌️ {{ 'now' | date: "%Y" }} {{ site.fname }}</p>
    <p>Designed and developed with love, coffee, and web&nbsp;standards.</p>

    <ul>
        <li>{{ site.email }}</li>
        <li><a href="{{ site.twitter }}" alt="">Twitter</a></li>
        <li><a href="{{ site.dribbble }}" alt="">Dribbble</a></li>
        <li><a href="{{ "/about/resume" | relative_url }}" alt="My resume">CV</a></li>
    </ul>
</footer>
<div id="Cursor" class="cursor"></div>
<div id="Terrazzo"></div>
