<style>

    @font-face {
        font-family: "Grivel";
        src: url("/assets/fonts/Grivel-Regular.woff2") format("woff2");
        font-weight: 400;
    }
    @font-face {
        font-family: "Bariol Serif";
        src: url("/assets/fonts/bariol_serif_regular-webfont.woff2") format("woff2");
        font-weight: 400;
    } 

    :root {
        --font-body: 0.875rem;
        --body-line-height: 1.5rem;
        --font-large: 2.5rem;
        --font-large-line-height: 3rem;
        --letter-spacing: -0.052em;

        --gutter: 2rem;

        --color-bg: hsla(48, 14%, 93%, 1);
        --color-fg: hsla(195, 48%, 14%, 1);
        --color-interaction: hsla(222, 100%, 32%, 1);
        /* --color-fg: #EDE6E3;
        --color-mid: #EDE6E3;
        --color-dim: #72767e; */

        --coral: hsl(5, 99%, 71%);
        --soft-coral: hsl(5, 100%, 89%);   
        --pale-coral: hsl(5, 100%, 98%);     
        --darkcoral: hsl(5, 62%, 51%);
        
        --vibrant-green: hsl(183, 100%, 32%);
        --midnight-green: hsl(183, 50%, 20%);
        --soft-green: hsl(183, 23%, 80%);
        --pale-green: hsl(183, 23%, 95%);

        --lemon: hsl(52, 100%, 78%);
        --soft-lemon: hsl(52, 100%, 85%);
        --pale-lemon: hsl(52, 100%, 98%);

        --blue: hsl(222, 100%, 32%);
        --dark: hsl(0, 33%, 7%);

        --pale: hsl(1, 100%, 89%);


        --font: "Bariol Serif",-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol", sans-serif;
        --font-heading: "Grivel", sans-serif;

        --logo-height: 4rem;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --color-fg: hsla(48, 14%, 93%, 1);
            --color-bg: hsla(195, 47%, 0%, 1);
            --color-interaction: hsla(211, 54%, 70%, 1);
        }
    }

    @media (prefers-contrast: high) {
        :root {
            --color-bg: white;
            --color-fg: black
        }
    }

    @media (prefers-contrast: high) and (prefers-color-scheme: dark){
        :root {
            --color-bg: black;
            --color-fg: white
        }
    }

    @media print {
        :root {
            --color-bg: transparent;
            --color-fg: black;
        }
    }

    * {
        box-sizing: border-box;
    }

    html { font-size: 100%; }     /* 1rem = 16px */

    @media screen and (min-width: 768px) {
        :root {
            --font-body: 1rem;
            --body-line-height: 1.75rem;
            --gutter: 4rem;
            --logo-height: 8.75rem;
        }
    }

    @media screen and (min-width: 1900px) {
        
    }

    body {
        background: var(--color-bg);
        transition: background-color 0.25s ease;
        min-height: 100vh;
        margin: 0;
        padding: var(--gutter);
        color: var(--color-fg);
        font-family: var(--font);
        line-height: var(--body-line-height);
        font-size: var(--font-body);
        font-kerning: normal;
        font-variant-ligatures: discretionary-ligatures; 
        /* font-variant-numeric: diagonal-fractions tabular-nums; */

        --cursor-stroke: var(--color-fg);
        --cursor-size: 3rem;
        --cursor-position: -1.5rem;
        --cursor-stroke-width: 2px;
    }  

    main {
        padding-top: 1px;
        height: 100%;
        min-height: calc(100vh - (var(--gutter)*2));;
        z-index: 1;
    }

    h1,h2,h3,h4,h5,h6 {
        font-family: var(--font-heading);
        font-size: var(--font-large);
        line-height: var(--font-large-line-height);
        letter-spacing: var(--letter-spacing);
    }  

    p {
        margin: 1rem 0 0;
    }

    .logotype svg {
       height: var(--logo-height);
    }

    .hidden {
        display: none;
    }

    @media (any-pointer: fine) {
        .cursor {
            pointer-events: none;
            background: transparent;
            border: var(--cursor-stroke-width) solid var(--cursor-stroke);
            border-radius: 100%;
            height: var(--cursor-size);
            width: var(--cursor-size);
            position: fixed;
            top: var(--cursor-position);
            left: var(--cursor-position);
            z-index: 10;
            opacity: 0;
            transition: transform ease 0.25s, opacity ease 0.25s;
            transform: scale(0);           
            transform-origin: center;
            animation: morphBorders 3s ease-in-out infinite alternate both;
        }
    }

    .terrazzo {
        pointer-events: none;
        transform: scale(0);           
        transform-origin: center;
    }
    
    svg path {
        fill: var(--color-fg); 
    }
    .social{
        display: flex;
        margin: 0;
    }
    
    a, a:visited {
        color: var(--color-interaction);
        text-decoration: none;
        position: relative;
    }

    p a::after {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        opacity: 0;
        background-color: var(--color-interaction);
        transform: scaleX(0);
        transition: all 0.2s ease;
    }

    a:active::after, a:focus::after, a:hover::after {
        transform: scale(1);
        opacity: 1;
    }
   
    .transition-fade {
       opacity: 1;
       transition: opacity 0.25s ease-in, background-color 0.3s ease-in-out;
    }

    .transition-up {
        transform: translateY(0);
        transition: transform 0.6s ease-out;
        animation: appearUp 0.6 ease-out;
    }

    .ani-from-right {
        transform: translateX(0);
        transition: transform 0.6s ease-out;
    }

    .ani-scale-1 {
        transform: scale(1);
        transition: transform 0.3s ease-out;
        animation: appearUp 0.6 ease-out;
    }

    .ani-scale-2 {
        transform: scale(1);
        transition: transform 0.3s 0.25s ease-out;
    }
    
    .is-animating .transition-up {  
        transform: translateY(20vh);
    }

    .is-animating .ani-from-right {  
        transform: translateX(40vw);
    }

    .is-animating.is-leaving .transition-up {
        transform: translateY(40vh);
    }

    .is-animating.is-leaving .ani-from-right {  
        transform: translateX(60vw);
    }


    .is-animating .transition-fade {        
        opacity: 0;
    }

    .is-animating.is-leaving .transition-fade {
        opacity: 0;
    }

    .is-animating .ani-scale-1,
    .is-animating .ani-scale-2 {        
        transform: scale(0.5);
    }

    .is-animating.is-leaving .ani-scale-1,
    .is-animating.is-leaving .ani-scale-2 {
        transform: scale(0.2);
    }
    

    @keyframes appearUp {
        0% {
            opacity: 0;
            visibility: hidden;
            transform: translateY(20vh);
        }

        30% {
            visibility: visible;
            opacity: 0;
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes freeze {
        0% {
            transform: translateY(0);
            opacity: 1;
        }

        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    @keyframes scale {
        0% {
            transform: scale(0.4);
        }

        100% {
            transform: scale(1);
        }
    }

    @keyframes invert {
        0% {
            transform: translateY(-20vh);
            opacity: 1;
        }

        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    @keyframes anchorPulse {
        0% {
            box-shadow: inset 0 -0.3rem 0 var(--coral);
        }

        100% {
            box-shadow: inset 0 -0.4rem 0 var(--coral);
        }
    }

</style>
