<style>

    @font-face {
        font-family: "Moderat";
        src: url("/assets/fonts/Moderat-Regular.woff2") format("woff2");
        font-weight: 400;
    }
    @font-face {
        font-family: "Moderat";
        src: url("/assets/fonts/Moderat-Bold.woff2") format("woff2");
        font-weight: bold;
    }    
    @font-face {
        font-family: "Casta";
        src: url("/assets/fonts/Casta-Thin.woff2") format("woff2");
    }

    :root {
        --font-default: clamp(18px, 1.4vw, 22px);
        --font-s: 0.87rem;
        --font-l: 1.4rem;
        --font-line-height: 1.5;
        --spacing-s: 0.2rem;
        --spacing-m: 1rem;
        --spacing-l: 2rem;
        --spacing-xl: 4rem;
        --spacing-max-width: 35rem;

        /* --color-bg: #63696E;
        --color-base: #EDE6E3;
        --color-mid: #EDE6E3;
        --color-dim: #72767e; */


        --coral: hsl(5, 99%, 71%);
        --soft-coral: hsl(5, 100%, 89%);   
        --pale-coral: hsl(5, 100%, 98%);     
        --darkcoral: hsl(5, 62%, 51%);
        
        --vibrant-green: hsl(183, 100%, 32%);
        --midnight-green: hsl(183, 50%, 20%);
        --soft-green: hsl(183, 23%, 80%);
        --pale-green: hsl(183, 23%, 95%);

        --lemon: hsl(52, 100%, 78%);
        --soft-lemon: hsl(52, 100%, 85%);
        --pale-lemon: hsl(52, 100%, 98%);

        --blue: hsl(222, 100%, 32%);
        --dark: hsl(0, 33%, 7%);

        --pale: hsl(1, 100%, 89%);

        --color-base: black;
        --color-bg: var(--pale-green);

        --padding-page-bottom: 10vh;
        --button-padding: 0.2rem 0.5rem;

        /* Type scale */
        --int: 1.333;
        --scale0: 1.03rem;
        --scale-1: calc(var(--scale0) / 1.125);
        --scale-2: calc(var(--scale-1) / 1.125);
        --scale1: calc(var(--scale0) * var(--int));
        --scale2: calc(var(--scale1) * var(--int));
        --scale3: calc(var(--scale2) * var(--int));
        --scale4: calc(var(--scale3) * var(--int));
        --scale5: calc(var(--scale4) * var(--int));
        --line-height: 1.6;
        --font: "Moderat",-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol", sans-serif;
        --font-heading: "Casta", serif;
        --text-GRAD: 400;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --color-base: var(--pale-green);
            --color-bg: hsl(183, 23%, 5%);

            --blue: hsl(222, 100%, 20%);
            --pale: hsl(222, 100%, 32%);

            --soft-green: var(--midnight-green);
            --text-GRAD: 480;
        }
    }

    @media (prefers-contrast: high) {
        :root {
            --color-bg: white;
            --color-base: black
        }
    }

    @media (prefers-contrast: high) and (prefers-color-scheme: dark){
        :root {
            --color-bg: black;
            --color-base: white
        }
    }

    @media print {
        :root {
            --color-bg: transparent;
            --color-base: black;
        }
    }

    * {
        box-sizing: border-box;
    }

    html { font-size: 100%; }     /* 1rem = 16px */

    @media screen and (min-width: 768px) {
        :root {
            --padding-page-bottom: 20vh;
        }

       html { font-size: 112.5%; } /* 1rem = 18px */
    }

    @media screen and (min-width: 1900px) {
        html { font-size: 137.5%; } /* 1rem = 22px */
    }

    body {
        background: var(--color-bg);
        transition: background-color 0.25s ease;
        min-height: 100vh;
        margin: 0;
        padding: 0;
        color: var(--color-base);
        font-family: var(--font);
        line-height: var(--line-height);
        font-size: var(--font-default);
        font-kerning: normal;
        font-variant-ligatures: discretionary-ligatures;        
        font-variation-settings: "GRAD" var(--text-GRAD);
        /* font-variant-numeric: diagonal-fractions tabular-nums; */

        --cursor-stroke: var(--color-base);
        --cursor-size: 3rem;
        --cursor-position: -1.5rem;
        --cursor-stroke-width: 2px;
    }

    

    @media (any-pointer: fine) {
        .cursor {
            pointer-events: none;
            background: transparent;
            border: var(--cursor-stroke-width) solid var(--cursor-stroke);
            border-radius: 100%;
            height: var(--cursor-size);
            width: var(--cursor-size);
            position: fixed;
            top: var(--cursor-position);
            left: var(--cursor-position);
            z-index: 10;
            opacity: 0;
            transition: transform ease 0.25s, opacity ease 0.25s;
            transform: scale(0);           
            transform-origin: center;
            animation: morphBorders 3s ease-in-out infinite alternate both;
        }
    }

    .terrazzo {
        pointer-events: none;
        transform: scale(0);           
        transform-origin: center;
    }

    main {
        padding-top: 1px; /* hack */
        height: 100%;
        min-height: calc(100vh - 4rem);
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(4, calc((100% - 4rem) / 4));
        grid-auto-rows: fit-content(0.5rem);
        padding: 0 1rem;
        gap: 0.5rem 1rem;
        max-width: 100vw;
    }

    .grid > * {
        grid-row-end: auto;
    }

    @media screen and (min-width: 768px) {
        .grid {
            grid-template-columns: repeat(8, calc((100% - 12rem) / 8));
            gap: 0.5rem 1.5rem;
        }
    }

    @media screen and (min-width: 1400px) {
        .grid {
            grid-template-columns: repeat(12, calc((100% - 18rem) / 12));
            padding: 0;
        }
    }

    @media screen and (min-width: 2600px) {
        .grid {
            grid-template-columns: repeat(16, calc((100% - 24rem) / 16));
        }
    }

    body > header {
        z-index: 100;
        width: 100%;
        padding: 0 1rem;
        margin: 1rem 0;
        border-bottom: 1px solid var(--color-base);
    }
    
    body > header .social {
        display: flex;
        margin: 0;
    }
    
    body > header .social p {
        margin: 0;
        margin-right: 0.5rem;
    }

    footer {
        padding: 2rem 1rem;
        box-sizing: border-box;
        width: 100%;
        background: var(--color-bg);
    }

    @media screen and (min-width: 1400px) {
        body > header {
            width: 100%;
            padding: 0 8.4vw;
        }

        footer {
            padding: 4rem 8.4vw;
        }
    }

    body > header {
        position: absolute;
        top: 0;
    }

    footer {
        padding-bottom: 2rem;
    }

    a,
    a:visited {
        box-shadow: inset 0 -0.1rem 0 transparent;
        transition: all ease-in-out 0.15s;
        text-decoration-color: var(--coral);
        text-decoration-thickness: 0.15rem;
        color: inherit;
    }

    a:hover,
    a:active,
    a:focus {
        box-shadow: inset 0 -0.4rem 0 var(--coral);
        animation: anchorPulse 0.25s ease alternate-reverse infinite;
    }

    .bio aside a,
    .bio aside a:visited,
    header a,
    header a:visited {
        box-shadow: none;
        animation: none;
        text-decoration: none;
    }

    .bio aside a:hover,
    header a:hover {
        text-decoration-color: var(--coral);
    }

    img {
        max-width: 100%;
    }
    
    h1 {
        margin-top: var(--spacing-xl);
        margin-bottom: var(--spacing-m);
    }

    h1,
    h2 {
        line-height: 1.35;
    }

    .transition-fade {
       opacity: 1;
       transition: opacity 0.25s ease-in, background-color 0.3s ease-in-out;
    }

    .transition-up {
        transform: translateY(0);
        transition: transform 0.6s ease-out;
        animation: appearUp 0.6 ease-out;
    }

    .ani-from-right {
        transform: translateX(0);
        transition: transform 0.6s ease-out;
    }

    .ani-scale-1 {
        transform: scale(1);
        transition: transform 0.3s ease-out;
        animation: appearUp 0.6 ease-out;
    }

    .ani-scale-2 {
        transform: scale(1);
        transition: transform 0.3s 0.25s ease-out;
    }
    
    .is-animating .transition-up {  
        transform: translateY(20vh);
    }

    .is-animating .ani-from-right {  
        transform: translateX(40vw);
    }

    .is-animating.is-leaving .transition-up {
        transform: translateY(40vh);
    }

    .is-animating.is-leaving .ani-from-right {  
        transform: translateX(60vw);
    }


    .is-animating .transition-fade {        
        opacity: 0;
    }

    .is-animating.is-leaving .transition-fade {
        opacity: 0;
    }

    .is-animating .ani-scale-1,
    .is-animating .ani-scale-2 {        
        transform: scale(0.5);
    }

    .is-animating.is-leaving .ani-scale-1,
    .is-animating.is-leaving .ani-scale-2 {
        transform: scale(0.2);
    }

    header h1,
    header {
        animation: freeze 0.75s linear;
    }

    .bio aside {
        animation: invert 0.75s 0.15s linear;
    }

    @keyframes appearUp {
        0% {
            opacity: 0;
            visibility: hidden;
            transform: translateY(20vh);
        }

        30% {
            visibility: visible;
            opacity: 0;
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes freeze {
        0% {
            transform: translateY(0);
            opacity: 1;
        }

        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    @keyframes scale {
        0% {
            transform: scale(0.4);
        }

        100% {
            transform: scale(1);
        }
    }

    @keyframes invert {
        0% {
            transform: translateY(-20vh);
            opacity: 1;
        }

        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    @keyframes anchorPulse {
        0% {
            box-shadow: inset 0 -0.3rem 0 var(--coral);
        }

        100% {
            box-shadow: inset 0 -0.4rem 0 var(--coral);
        }
    }

</style>
