<div id="work">
    <section class="case hoodin grid transition-up">
        <h2>Redesigning Hoodin<sup>01</sup></h2>
        <aside>
            <dl>
                <div>
                    <dt>Role</dt>
                    <dd>Product Design</dd>
                </div>
                <div>
                    <dt>Deliverables</dt>
                    <dd>Prototypes</dd>
                    <dd>Interaction&nbsp;Design</dd>
                    <dd>Visual Design</dd>
                </div>
            </dl>
        </aside>
        <div class="summary">
            <p class="lead">After building several critical features Hoodin were eager to improve the user experience. I was leading product design. The project included research to identify and define user problems, exploring and prototyping solutions, and deliver a visual overhaul.</p>
            <a href="{{ "/work/redesigning-hoodin/" | relative_url }}" alt="">Full case study →</a>
        </div>
       
        <figure>
            <picture>
                <source 
                    type="image/webp"
                    srcset="{{ "/assets/cases/hoodin/hoodin-m.webp" | relative_url }} 768w,
                            {{ "/assets/cases/hoodin/hoodin-l.webp" | relative_url }} 1440w"
                    sizes="(min-width: 1440px) 1440px,100vw"
                    src="{{ "/assets/cases/hoodin/hoodin-l.webp" | relative_url }}" 
                />
                <source 
                    type="image/png" 
                    srcset="{{ "/assets/cases/hoodin/hoodin-m.png" | relative_url }} 768w,
                            {{ "/assets/cases/hoodin/hoodin-l.png" | relative_url }} 1440w"
                    sizes="(min-width: 1440px) 1440px,100vw"
                    src="{{ "/assets/cases/hoodin/hoodin-l.png" | relative_url }}" 
                    src="{{ "/assets/images/profile/profile@1x.jpg" | relative_url }}" 
                />
                <img 
                    srcset="{{ "/assets/cases/hoodin/hoodin-m.png" | relative_url }} 768w,
                            {{ "/assets/cases/hoodin/hoodin-l.png" | relative_url }} 1440w"
                    sizes="(min-width: 1440px) 1440px,100vw"
                    src="{{ "/assets/cases/hoodin/hoodin-l.png" | relative_url }}" 
                    alt="" 
                    loading="eager"
                />
            </picture>
            <figcaption>
              <p>The final navigation with clear seperation of user and project, improved hierarchy and fewer navigaton links. </p>
            </figcaption>
          </figure>
          
    </section>
    <section class="case grid trails-of-southern-sweden topography">
        <picture class="ani-scale-1">
            <img 
                itemprop="image"
                srcset="{{ "/assets/cases/trails-of-southern-sweden/images/skaneleden-map.png" | relative_url }} 375w,
                        {{ "/assets/cases/trails-of-southern-sweden/images/skaneleden-map.png" | relative_url }} 896w,
                        {{ "/assets/cases/trails-of-southern-sweden/images/skaneleden-map.png" | relative_url }} 1792w,
                        {{ "/assets/cases/trails-of-southern-sweden/images/skaneleden-map.png" | relative_url }} 2688w"
                sizes="(min-width: 700px) 35vw,
                        (min-width: 1280px) 500px,
                        100vw"
                src="{{ "/assets/cases/images/trails-of-southern-sweden/skaneleden-map.png" | relative_url }}" 
                alt="Image of the map of the Trails of Southern Sweden service." 
                loading="eager"
            />
        </picture>
        <h2>Trails of Southern Sweden<sup>02</sup></h2>
        <aside>
            <dl>
                <div>
                    <dt>Role</dt>
                    <dd>UX Design</dd>
                    <dd>Project&nbsp;Managment</dd>
                    <dd>Front&nbsp;End Development</dd>
                </div>
                <div>
                    <dt>Deliverables</dt>
                    <dd>Information Architecture</dd>
                    <dd>Interaction Design</dd>
                    <dd>Ideation</dd>
                </div>
            </dl>
        </aside>
        <div class="summary">
            <p class="lead">Trails of Southern Sweden is a collection of hike and bicycle trails, each with its own website. Together they help around 75 000 people to find new adventures every month. My main responsibility was to create a consistent user experience design across all trails. This included interaction design, and information&nbsp;architecture.</p>
            <a href="{{ "/work/trails-of-southern-sweden/" | relative_url }}" alt="">Full case study →</a>
        </div>
        <video controls="false" autoplay loop muted alt="">
            <source type="video/m4v" src="{{ "/assets/cases/trails-of-southern-sweden/video/skaneleden.m4v" | relative_url }}"></source>
            <source type="video/webm" src="{{ "/assets/cases/trails-of-southern-sweden/video/skaneleden.webm" | relative_url }}"></source>
        </video>
    </section>
    <article class="other case grid">
        <h1>Others I’ve been fortunate to work with<sup>03</sup></h1>
        {% for work in site.data.work %}
        <h2>{{ work.client }}</h2>
        {% endfor %}
    </article>
</div>
