.bio {
    padding-bottom: var(--spacing-xl);
   
    h1 {
        margin: 0;
        grid-column: 1 / -1;
        grid-row: 10;
        
        @media (min-width: $screen-m) {
            grid-column: 2 / -2;
        }

        @media (min-width: $screen-l) {
            grid-column: 3 / -2;
        }
    }
   
    article .body {
        grid-column: 1 / -1;
        grid-row-start: 12;
        
        @media (min-width: $screen-m) {
            grid-column: 4 / -1;
        }

        @media (min-width: $screen-l) {
            grid-column: 7 / -2;
        }
    }

    article .picture-wrapper {
        grid-column: 2 / 4;
        grid-row-start: 14;

        @media (min-width: $screen-m) {
            grid-column: 1 / 4;
            grid-row-start: 12;
            margin-top: var(--spacing-xl);
        }

        @media (min-width: $screen-l) {
            grid-column: 4 / 7;
        }
       
    }

    article img {
        max-width: 100%;
        width: 100%;
        margin: auto;
         /*   -webkit-clip-path: polygon(0 50%, 0 100%, 65% 100%, 65% 80%, 90% 80%, 90% 90%, 65% 90%, 64% 100%, 100% 100%, 100% 50%, 50% 0);
        clip-path: polygon(0 50%, 0 100%, 65% 100%, 65% 80%, 90% 80%, 90% 90%, 65% 90%, 64% 100%, 100% 100%, 100% 50%, 50% 0); */

        @media (min-width: $screen-l) {
            max-width: 80%;
        }
    }

    article .picture-wrapper {
        filter: drop-shadow(-2px 2px 6px rgba(0, 0, 0, 0.25));
        z-index: 1;
        text-align: center;

        @media (min-width: $screen-l) {
            margin-top: 5rem;
        }
    }
    
    h2 {
        @media (max-width: floor($screen-l - 1)) {
            display: flex;
            font-size: var(--scale2);
            transform: rotate(-90deg);
            margin-right: -2rem;
        }

        .www {
            @media (max-width: floor($screen-l - 1)) {
                position: relative;
                transform: rotate(90deg);
                line-height: 1.3;
            }

            &::before,
            &::after {
                content: "w";

                @media (max-width: floor($screen-l - 1)) {
                    position: absolute;
                    top: 0;
                    left: -0.8em;
                }
            }

            &::after {
                @media (max-width: floor($screen-l - 1)) {
                    left: -1.6em;
                }
            }
        }
    }
    
    ul.external-links li {
        line-height: 2;
        transition: 0.15s ease;

        @media (max-width: floor($screen-m - 1)) {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            max-width: 55vw;
        }
    }
    
    ul.external-links li:hover {
        margin-left: -0.5rem;
    }    
}
