

@keyframes pointingFingers {
    0% {
        color: var(--color-base);
    }

    80% {
      color: var(--coral);
    }

    100% {
      color: var(--color-base);
    }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}

@keyframes sparks {
  0% { 
    border-radius: 54% 46% 55% 45%/56% 50% 50% 44%;
    opacity: 0;
  }
  15% {border-radius: 45% 55%;}
  45% {border-radius: 54% 46% 55% 45%/56% 50% 50% 44%;}
  75%{border-radius: 52% 48% 40% 60%/58% 56% 44% 42%;}
  85% {
    opacity: 0.9;
  }
  to{
    border-radius: 44% 56% 60% 40%/49% 55% 45% 51%;
    opacity: 0;
  }
}

@keyframes backgroundColorLoop {
  0% {
    background-color: var(--coral);
  }
  25% {
    background-color: var(--blue);
  }
  50% {
    background-color: var(--lemon);
  }
  75% {
    background-color: var(--vibrant-green);
  }
}

@keyframes morphBorders{ 
  // from 14islands.com - to learn
  0% { border-radius: 54% 46% 55% 45%/56% 50% 50% 44%}
  25% {border-radius: 45% 55%}
  50% {border-radius: 54% 46% 55% 45%/56% 50% 50% 44%}
  75%{border-radius: 52% 48% 40% 60%/58% 56% 44% 42%}
  to{border-radius: 44% 56% 60% 40%/49% 55% 45% 51%}
}