

@keyframes pointingFingers {
    0% {
        color: var(--textcolor);
    }

    80% {
      color: var(--coral);
    }

    100% {
      color: var(--textcolor);
    }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}