footer {
  text-align: center;
  padding: 3rem 0 0;

  @media (min-width: $screen-m) {
    text-align: left;
  }

  @media (max-width: floor($screen-m - 1)) and (prefers-color-scheme: light) {
      position: relative;

      p {
        position: absolute;
        width: 100%;
      }
  }
}

@media print {
  footer {
      display: none;
  }
}