footer {
  text-align: center;

  ul {
    list-style: none;
    padding: 0;
  }

  @media (min-width: $screen-m) {
    text-align: left;

    p:first-child {
      margin-left: -2ch;
    }
  }
}

@media print {
  footer {
      display: none;
  }
}