.jacoblindstrom_introduction {
    
        @media (prefers-color-scheme: dark) {
            color: var(--color-base);
        }

        h1 {
            font-family: var(--font-heading);
            font-weight: normal;
            font-size: 18vw;
            margin: 0;
            grid-column: 1 / -1;
            grid-row: 10;
            margin-top: clamp(var(--spacing-xl), 16vh, 12rem);

            sup,
            sub {
                font-size: 1rem;
                font-family: var(--font);
            }

            sub {
                vertical-align: baseline;
                line-break: anywhere;
                white-space: break-spaces;
            }

            @media (min-width: $screen-m) {
                grid-column: 1 / -1;
                font-size: 9.1vw;
                margin-top: var(--spacing-xl);
            }

            @media (min-width: $screen-l) {
                grid-column: 2 / -2;
            }
        }

        h2 {

            margin: 0;
            font-size: var(--font-default);
            font-weight: normal;
            display: flex;
            flex-flow: column;

            a {
                align-self: flex-start
                margin-top: 1em;
            }

            grid-column: 1 / -1;
            grid-row: 11;

            @media (min-width: $screen-m) {
                grid-column: 4 / span 3;
            }

            @media (min-width: $screen-l) {
                grid-column: 8 / span 3;
            }
        }
    }
