.keywords {
    list-style: none;
    padding: 0;
    margin: 2rem 0 1rem;
    display: flex;
    flex-flow: wrap;    

    li {
        margin: 0.25rem;
        white-space: nowrap;
        font-family: var(--font-heading);
        text-transform: uppercase;
        
        &::after {
            content: "/";   
        }
        
        &:last-child::after {
            content: none;
        }
    }
}
