.keywords {
    list-style: none;
    padding: 0;
    margin: 1rem 0;
    display: flex;
    flex-flow: wrap;    

    li {
        background: var(--lightcoral);
        color: var(--darkcoral);
        padding: var(--button-padding);
        margin: 0.25rem;
        min-width: 3rem;
        font-weight: 570;
        white-space: nowrap;
        border-radius: 0.3rem;
        font-size: var(--scale-1);
        text-align: center;

        background: linear-gradient(145deg, #ffffff, #e4dada);
        box-shadow:  20px 20px 60px #d7cece, 
                    -20px -20px 60px #ffffff;

        @media (prefers-color-scheme: dark) {
            background: linear-gradient(145deg, #001547, #00123b);
            box-shadow:  20px 20px 60px #001138, 
                -20px -20px 60px #00174c;
        }   
    }
}