
::selection {
  background: var(--coral); /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: var(--coral); /* Gecko Browsers */
}

:lang('ja') {
  writing-mode: vertical-rl;
}

.shadow_dreamer {
  box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
    0 2px 4px rgba(0,0,0,0.07), 
    0 4px 8px rgba(0,0,0,0.07), 
    0 8px 16px rgba(0,0,0,0.07),
    0 16px 32px rgba(0,0,0,0.07), 
    0 32px 64px rgba(0,0,0,0.07);
}

.limit {
  max-width: 35rem;
  margin: auto;
}

.flex-end {
  justify-content: flex-end;
}

.cursor_sparks {
  position: fixed;
  top: 0;
  left: 0;
  transform: scale(0);
  animation: sparks 0.7s 0.2s ease-in-out;
  pointer-events: none;
  z-index: 1;
  mix-blend-mode: difference;

  &.circle {
    border-radius: 100%;
  }
  .oval {
    background: transparent !important;
    border: 2px solid inherit;
  }
  .triangle {
    background: transparent !important;
    border: 2px solid inherit;
  }
}