body > footer {
    display: flex;
    align-items: flex-start;

    @media screen and (min-width: $screen-m) {
        align-items: center;
    }
}

body > footer {
    justify-content: space-between;

    a,
    a:visited {
        text-decoration: none;
    }
}

body > footer,
body > header h1 {
    font-size: var(--scale0);
}

nav {
    ul {
        display: flex;
        list-style: none;
        padding: 0;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        line-height: 3;
        margin: 0;
        height: 100%;

        @media screen and (min-width: $screen-m) {
            flex-flow: row; 
        }

        li {
            margin: 0;
            white-space: nowrap;

            @media screen and (min-width: $screen-m) {
                margin: auto calc(1.875rem / 2); 
            } 

            @media screen and (min-width: $screen-l) {
                margin: auto calc(1.5rem / 2); 
            } 
            
            &:last-child {
                margin-right: 0;
            }

            &.active {
                &::before {
                    content: "→";
                }
            }
        }

        @media screen and (max-width: $screen-m) {

            li {
                text-align: right;
                display: block;
            }
        }
    }
}

#toggle-menu {
    display: none;
    visibility: hidden;
}

@media screen and (hover) and (min-width: $screen-m) { 
    body > footer {
        opacity: 0.85;
        transition: opacity ease-in 0.3s;
        
        &:hover,
        &:focus-within {
            opacity: 1;
        }
   }
}

#toggle-menu {
    position: absolute;
    top: 2rem;
    right: 1rem;
    border: 0;
    background: transparent;
    z-index: var(--z-index-nav-button);
    text-indent: -100000px;
    display: block;
    visibility: visible;
    width: 2.5rem;
    height: 2.5rem;

    @media (min-width: $screen-l) {
        right: 8.4vw;
        top: 4rem;
    }
    
    &::before,
    &::after {
        content: "";
        height: 1px;
        width: 2rem;
        background: var(--color-base);
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transition: all ease-in-out 0.3s;
        cursor: pointer;
    }
    
    &::after {
        width: 1.5rem;
        margin-top: 0.5rem;
    }

    &:hover::after {
        width: 2rem;
    }
}

body > header nav {
    position: absolute;
    top: -1rem;
    right: 0;
    left: 100vw;
    width: 0px;
    height: 100vh;
    border-radius: 10% 0 0 10%/ 50% 0 0 50%;
    background: black;
    flex-flow: column-reverse;
    justify-content: center; 
    transition: all ease-in-out 0.3s;
    z-index: var(--z-menu);
    overflow: hidden;    
    color: var(--pale-green);
    box-sizing: border-box;
    padding: 0;
    opacity: 0;

    @media (min-width: $screen-m) {
        background: transparent;
        transition: opacity ease-in-out 0.3s;
        color: var(--color-base);

        ul {
            height: 2rem;
        }
    }

    @media (min-width: $screen-l) {
        margin-top: 2rem;
    }
}

body > header.open {
    nav,
    nav:focus-within {
        bottom: 0;
        right: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        border-radius: 0;
        opacity: 1;

        .logotype svg {
            fill: var(--pale-green);
        }

        ul {
            opacity: 1;
            transform: translateY(0);
        }

        @media (min-width: $screen-m) {
            bottom: auto;
            right: 5rem;
            left: auto;
            width: auto;
            height: auto;

            ul {
                height: 4rem;
            }
        }

        @media (min-width: $screen-l) {
            right: calc(5rem + 8.4vw);
        }
    }

    @media (max-width: floor($screen-m - 1)) {
        + #toggle-menu {
            &::before,
            &::after {
                transform: rotate(45deg);
                background: var(--pale-green);
            }
            
            &::after {
                transform: rotate(-45deg); 
                margin-top: 0;
                width: 2rem;
            }
        }
    }

    @media (min-width: $screen-m) {
        + #toggle-menu {
            &::before,
            &::after {
                margin-top: 0.05rem;
            }
        }
    }
}

@media print {
    nav ul,
    body > header {
        display: none;
    }
}
