article.post {
  width: 90%;
  margin: auto;
  max-width: 35rem;
  padding-bottom: var(--padding-page-bottom);

  h2 {
    margin-top: 3rem;
  }

  time {
    font-size: var(--scale-1);
    opacity: 0.8;
  }

  ul {
    margin: 2.5rem auto;

    li {
      margin: 0.5rem inherit;
    }
  }

  .article-body > p:first-child{
      text-indent: 0;

      &::first-letter {
        font-size: 3.5em;
        float: left;
        margin-top: 0.1em;
        line-height: 0.6; // for Safari
    }
  }

  hr {
      overflow: visible; /* For IE */
      padding: 0;
      border: none;
      border-top: medium double var(--coral);
      color: var(--coral);
      text-align: center;
      margin: 2rem auto;
      width: 25%;
  }
}