article.post {
  width: 90%;
  padding-bottom: var(--spacing-xl);
  padding-top: clamp(6rem, 20vh, 12rem);
  
  ul {
    margin: var(--spacing-m) auto;

    li {
      margin: var(--spacing-s) inherit;
    }
  }

  img {
    max-width: 90%;
    max-height: 75vh;
    margin: var(--spacing-m) 0;

    &.center {
    }

    &.left {
      @media (min-width: $screen-m) {
        margin: 0 1.5rem var(--spacing-m) -3rem;
        float: left;
      }
    }

    &.right {

      @media (min-width: $screen-m) {
        margin: 0 -3rem var(--spacing-m) 1.5rem;
        float: right;
      }
    }
  }

  iframe {
    max-width: 90%;
    margin: var(--spacing-m) 0;
  }

  code {
    max-width: 100%;
    background: white;
    display: block;
    padding: 1rem;
    box-shadow: inset 2px 2px 4px rgba(0,0,0,0.15);
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 0.4rem;
    white-space: pre-wrap;

    @media (prefers-color-scheme: dark) {
      background: var(--dark);
      box-shadow: none;
      border: 1px solid var(--dark);

    }

  }

  

  hr {
      overflow: visible; /* For IE */
      padding: 0;
      border: none;
      border-top: medium double var(--coral);
      color: var(--coral);
      text-align: center;
      margin: 2rem auto;
      width: 25%;
  }

  footer {
    clear: both;
    background: transparent;
    text-align: center;
    margin-top: 0;
  }
}
