article.post {
  width: 90%;
  margin: auto;
  padding-bottom: var(--padding-page-bottom);

  h2 {
    margin-top: 3rem;
  }

  ul {
    margin: 2.5rem auto;

    li {
      margin: 0.5rem inherit;
    }
  }

  img {
    max-width: 90%;
    max-height: 75vh;
    margin: 1rem 0;

    &.center {
    }

    &.left {
      @media (min-width: $screen-m) {
        margin: 0 1.5rem 1rem -3rem;
        float: left;
      }
    }

    &.right {

      @media (min-width: $screen-m) {
        margin: 0 -3rem 1rem 1.5rem;
        float: right;
      }
    }
  }

  iframe {
    max-width: 90%;
    margin: 1rem 0;
  }

  code {
    max-width: 100%;
    background: white;
    display: block;
    padding: 1rem;
    box-shadow: inset 2px 2px 4px rgba(0,0,0,0.15);
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 0.4rem;
    white-space: pre-wrap;

    @media (prefers-color-scheme: dark) {
      background: var(--dark);
      box-shadow: none;
      border: 1px solid var(--dark);

    }

  }

  .article-body > p:first-child{
      text-indent: 0;

      &::first-letter {
        font-size: 3.5em;
        float: left;
        margin-top: 0.1em;
        line-height: 0.6; // for Safari
    }
  }

  hr {
      overflow: visible; /* For IE */
      padding: 0;
      border: none;
      border-top: medium double var(--coral);
      color: var(--coral);
      text-align: center;
      margin: 2rem auto;
      width: 25%;
  }

  footer {
    clear: both;
  }
}