body {
    --text-GRAD: 400;
}

@media (prefers-color-scheme: dark) {
    body {
        --text-GRAD: 480;
    }
}

article.post h1 {
    font-size: var(--font-l);
}

h2 {
    font-size: var(--font-l);    
    margin-bottom: var(--spacing-s);
}
h3 {
    font-size: var(--font-default);
}
h4 {
    font-size: var(--font-default);
}

h3,
h4 {
    margin-top: var(--spacing-l);
    margin-bottom: var(--spacing-s);
}

p {
    margin: 0 auto var(--spacing-m);
}

p.extra-spacing {
    margin-top: var(--spacing-l);
}

.lead {
    //font-size: var(--scale0);
    margin-bottom: var(--spacing-m);
}

.small {
    font-size: var(--font-s);
}

.x-small {
    font-size: var(--font-s);
}

strong {
    font-weight: 570;
}

time {
    font-size: var(--font-s);
    opacity: 0.8;
}

figcaption {
    font-size: var(--font-s);
    max-width: 600px;

    p {
        display: inline;
        color: var(--blue);
        background: var(--coral);
        box-shadow: 0.5rem 0 0 var(--coral), -0.5rem 0 0 var(--coral);
        box-decoration-break: clone;
    }
}

dt {
    text-transform: uppercase;
    letter-spacing: 0.01em;
    font-size: var(--font-s);
    font-weight: 570;
}

dd {
    margin: 0;
}

blockquote {    
    text-align: center;
    line-height: 1;
    margin: var(--spacing-xl) auto;
    max-width: 45rem;

    p {
        margin-left: auto;
        margin-right: auto;
    }

    p::before {
        font-size: 2em;
        vertical-align: middle;
        content: '\201C';
    }

    p::after {
        font-size: 2em;
        vertical-align: middle;
        content: '\201D';
    }

    footer {
        font-size: var(--font-s);
        text-align: right;
        background: transparent;
        padding: 0;
        margin-top: 1rem;
    }
}
