body {
    --text-GRAD: 400;
}

@media (prefers-color-scheme: dark) {
    body {
        --text-GRAD: 480;
    }
}

article.post h1 {
    font-size: var(--scale3);
}

h2 {
    font-size: var(--scale2);
}
h3 {
    font-size: var(--scale1);
}
h4 {
    font-size: var(--scale0);
}

h2,
h3,
h4 {
    margin-top: 2em;
    margin-bottom: 0.5em;
}

p {
    margin: 1em auto;
}

p.extra-spacing {
    margin-top: 1.5em;

    @media (min-width: $screen-m) {
        margin-top: 2.5em;
    }
}

.lead {
    font-size: var(--scale1);
    margin-bottom: 1em;
    text-indent: 0;
}

.superbig {
    font-size: var(--scale2);
    line-height: calc(var(--line-height) * 1.2);
}

.small {
    font-size: var(--scale-1);
}

.x-small {
    font-size: var(--scale-2);
}

strong {
    font-weight: 570;
}

time {
    font-size: var(--scale-1);
    opacity: 0.8;
}

figcaption {
    font-size: var(--scale-1);
    max-width: 600px;

    p {
        display: inline;
        color: var(--blue);
        background: var(--coral);
        box-shadow: 0.5rem 0 0 var(--coral), -0.5rem 0 0 var(--coral);
        box-decoration-break: clone;
    }
}

blockquote {    
    text-align: center;
    line-height: 1;
    margin: 3em auto;
    max-width: 45rem;

    p {
        font-size: var(--scale2);
        margin-left: auto;
        margin-right: auto;
    }

    p::before {
        font-size: 2em;
        vertical-align: middle;
        content: '\201C';
    }

    p::after {
        font-size: 2em;
        vertical-align: middle;
        content: '\201D';
    }

    footer {
        font-size: var(--scale-1);
        text-align: right;
    }
}

// article .body a {
//     text-decoration: none;
//     position: relative;
// }

// article .body a::before {
//     content: "";
//     background: var(--coral);
//     position: absolute;
//     top: 65%;
//     height: calc(var(--scale0) / 2);
//     width: 100%;
//     transition: all 0.2s ease;
//     mix-blend-mode: multiply;
//     pointer-events: none;
//         -webkit-clip-path: polygon(0% 0%, 35% 15%, 100% 0%, 100% 85%, 0% 100%);
//     clip-path: polygon(0% 0%, 35% 15%, 100% 0%, 100% 85%, 0% 100%);

//     @media (prefers-color-scheme: dark) { 
//        z-index: -1;
//        mix-blend-mode: normal;
//     }
// }

// article .body a:hover::before {
//     top: 40%;
//     height: calc((var(--scale0) / 2) * 1.25);
//         -webkit-clip-path: polygon(0% 0%, 40% 25%, 100% 0%, 100% 75%, 5% 100%);
//     clip-path: polygon(0% 0%, 40% 25%, 100% 0%, 100% 75%, 5% 100%);
// }
