---
---

// Screen sizes as Sass vars because native dont work.
$screen-s: 375px;
$screen-m: 768px;
$screen-l: 1400px;
$screen-xl: 1900px;

// Helpers
@import "animations";
@import "icons";

// Commons
@import "main";
@import "type";
@import "nav";
@import "footer";
@import "button";
@import "keywords";
@import "print";

// Pages
@import "index";
@import "work";
@import "about";
@import "blog";
@import "post";
@import "resume";
@import "list";
