---
layout: default
---
<section id="about" class="bio">
    <article itemscope itemtype="http://schema.org/Person">
        {{ content }}

        <aside class="transition-from-right">
            <h2>Else<span class="www">w</span>here</h2>
            <ul class="external-links">
                <!-- <li class="ixd-foundation"><a href="{{ site.ixd }}" rel="author noopener">Interaction Design Foundation</a></li> -->
                <li class="dribbble"><a href="{{ site.dribbble }}" rel="author noopener">Dribbble</a></li>
                <li class="figma"><a href="{{ site.figma }}" rel="author noopener">Figma</a></li>
                <li class="github"><a href="{{ site.github }}" rel="author noopener">Github</a></li>
                <li class="medium"><a href="{{ site.medium }}" rel="author noopener">Medium</a></li>
                <li class="twitter"><a href="{{ site.twitter }}" rel="author noopener">Twitter</a></li>
                <li class="linkedin"><a href="{{ site.linkedin }}" rel="author noopener">LinkedIn</a></li>
                <li class="instagram"><a href="{{ site.instagram }}" rel="author noopener">Instagram</a></li>
                <li class="spotify"><a href="{{ site.spotify }}" rel="author noopener">Spotify</a></li>
            </ul>
        </aside>
    </article>
</section>

