<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include meta.html %}
    <title>{{ page.title }} - {{ site.title }}</title>
    {% include style.html %}
    <link rel="stylesheet" href="{{ "./assets/css/main.css" | relative_url }}">
  </head>
  <body>
    <div class="message" style="background: var(--textolor); color: var(--backgroundcolor); font-size: var(--scale-1); text-align: center;">This is very much a work in progress. Please leave me feedback on <a href="https://twitter.com/JacobLindstrm3">twitter</a>.</div>
    {% include header.html %}

    <main>
        {{ content }}
    </main>

    {% include footer.html %}
  </body>
</html>
