<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include meta.html %}
    <title>{{ page.title }} - {{ site.title }}</title>
    {% include style.html %}
    <link rel="stylesheet" href="{{ "./assets/css/main.css" | relative_url }}">
  </head>
  <body> 
    <main id="swup" class="transition-fade">  
        {% include header.html %}     
        <section {% if page.classes %} class="{{ page.classes }}"{% endif %}> 
          {{ content }}
          {% include footer.html %}
        </section>  
    </main>   
    <div id="Cursor" class="cursor"></div>
    <div id="Terrazzo"></div>
    <script src="{{ "./assets/js/swup.js" | relative_url }}"></script> 
    <script src="{{ "./assets/js/index.js" | relative_url }}"></script>
    {% include analytics.html %}
  </body>
</html>
