<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include meta.html %}
    <title>{{ page.title }} - {{ site.title }}</title>
    {% include style.html %}
    <link rel="stylesheet" href="{{ "./assets/css/main.css" | relative_url }}">
  </head>
  <body {% if page.background %} class="background-{{ page.background }}"{% endif %}>
    {% include header.html %}

    <main id="swup" class="transition-fade" {% if page.background %} data-background-color="{{ page.background }}"{% endif %}>    
        {{ content }}
    </main>

    {% include footer.html %}

    <script src="{{ "./assets/js/swup.js" | relative_url }}"></script> 
    <script src="{{ "./assets/js/index.js" | relative_url }}"></script>
    <script>
      if (navigator.serviceWorker) {
          navigator.serviceWorker.register('{{ "./serviceworker.js" | relative_url }}');
      }
    </script>
    <!-- Fathom - beautiful, simple website analytics -->
    <script src="https://cdn.usefathom.com/script.js" spa="auto" site="MWSSFNKL" defer></script>
    <!-- / Fathom -->
  </body>
</html>
