---
layout: default
---
<section id="hoodin" class="hoodin case">
    <article itemscope itemtype="http://schema.org/CreativeWork">
        <section id="landing" class="grid">
            <h1>{{ page.title }}<sup>Fall 2019</sup></h1>
            <aside>
                <dl>
                    <div>
                        <dt>Role</dt>
                        <dd>Product Design</dd>
                    </div>
                    <div>
                        <dt>Deliverables</dt>
                        <dd>Prototypes</dd>
                        <dd>Interaction Design</dd>
                        <dd>Visual Design</dd>
                    </div>
                </dl>
            </aside>
            <div class="summary">
                <p class="lead">After building several critical features Hoodin were eager to improve the user experience. I was leading product design. The project included research to identify and define user problems, exploring and prototyping solutions, and deliver a visual overhaul.  As the UI is not fully implemented and not public yet, I cannot share too much of it. This case study will focus on my process to improve the main navigation and the overall product.</p>
            </div>
            
            <div class="table-of-content">
                <ol>
                    <li>
                        👂 <a href="#empathize" alt="" data-no-swup="true">Empathize</a><sup>01</sup>
                    </li>
                    <li>
                        📌 <a href="#-define" alt="" data-no-swup="true">Define</a><sup>02</sup>
                    </li>
                    <li>
                        💡 <a href="#-ideate" alt="" data-no-swup="true">Ideate<sup>03</a></sup>
                    </li>
                    <li>
                        🛠 <a href="#-prototype" alt="" data-no-swup="true">Prototype<sup>04</a></sup>
                    </li>
                    <li>
                        📋 <a href="#-test-and-evaluation" alt="" data-no-swup="true">Test<sup>05</a></sup>
                    </li>
                    <li>
                        ⌨️ <a href="#-development" alt="" data-no-swup="true">Development<sup>06</a></sup>
                    </li>
                    <li>
                        🎯 <a href="#-outcome" alt="" data-no-swup="true">Outcome<sup>07</a></sup>
                    </li>
                    <li>
                        🛠 <a href="#role---credits" alt="" data-no-swup="true">Role & credits</a><sup>08</sup>
                    </li>
                </ol>
            </div>
        
            <section class="content">
                {{ content }}   
            </section>     
        </section>
    </article>
</section>