---
layout: default
title: "Resume"
---
<article class="post resume limit" itemscope itemtype="http://schema.org/Article">
    <header>
        <div>
            <h1>{{ site.fname }}</h1>
            <h2>{{ site.workTitle }}</h2>
        </div>
        <ul>
            <li>{{ site.email }}</li>
            <li>{{ site.phone }}</li>
            <li><a href="{{ site.url }}">Portfolio</a></li>
            <li><a href="{{ site.dribbble }}">Dribbble</a></li>
            <li><a href="{{ site.linkedin }}">LinkedIn</a></li>
        </ul>
    </header>
    <div class="article-body" itemprop="articleBody">{{ page.content }}</div>
</article>

