---
layout: default
---
<section id="trails-of-southern-sweden" class="case-study">
    <article itemscope itemtype="http://schema.org/CreativeWork">
        <section id="landing" class="topography">
            <h1>{{ page.title }}</h1>
            <p>2016 – 2018</p>
            <p>Trails of Southern Sweden is a collection of hiking and bicycling trails, each with its own website and domain. Some trails are as long as 1200 km with several sub trails. My main responsibility were user experience design, including interaction design, and information architecture.</p>
            
            <ol class="table-of-content">
                <li>
                    <a href="#introduction" alt="" data-no-swup="true">Introduction & Goals →</a>
                </li>
                <li>
                    <a href="#process" alt="" data-no-swup="true">Process & Experience →</a>
                </li>
                <li>
                    <a href="#outcome" alt="" data-no-swup="true">Outcome →</a>
                </li>
                <li>
                    <a href="#role" alt="" data-no-swup="true">My Role & Credits →</a>
                </li>
            </ol>
        </section>
        <link rel="stylesheet" href="{{ "/assets/css/trails-of-southern-sweden.css" | relative_url }}">

        {{ content }}        
    </article>
</section>

