@font-face {
  font-family: "A2ZFaucet";
  src: url("./assets/fonts/A2ZFaucet-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "A2ZFaucet";
  src: url("./assets/fonts/A2ZFaucet-Bold.woff2") format("woff2");
  font-weight: bold;
}

:root {
  --font-body: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --body-line-height: 1.5;
  --font-large: clamp(1.50rem, calc(1.00rem + 2.50vw), 3.25rem);
  --font-large-line-height: 1.3;
  --letter-spacing: -0.052em;

  --gutter: 1.5rem;

  --color-bg: hsla(48, 56%, 95%, 1);
  --color-fg: hsla(0, 0%, 0%, 1);
  --color-purple: hsla(266, 99%, 45%, 1);
  --color-coral: hsla(7, 100%, 69%, 1);
  --color-green: hsla(148, 100%, 59%, 1);
  --color-interaction: hsla(222, 100%, 32%, 1);
  --color-lemon: lemon;

  --font: "A2ZFaucet",-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol", sans-serif;
  --font-heading: "A2ZFaucet", sans-serif;

  --logo-height: 4rem;
}

/* Display-P3 color, when supported. */
@supports (color: color(display-p3 1 1 1)) {
  :root {
      --color-purple: color(display-p3 0.493 0.054 0.975);
      --coral: color(display-p3 0.975 0.431 0.356);
      --vibrant-green: color(display-p3 0.148 0.58 0.506);
      --lemon: color(display-p3 1 0.928 0.415);
      --blue: color(display-p3 0.011 0.133 0.56);
      --color-interaction: color(display-p3 0.061 0.437 0.945);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
      --color-fg: hsla(48, 56%, 95%, 1);
      --color-bg: hsla(0, 0%, 0%, 1);
      --color-interaction: hsla(211, 54%, 70%, 1);
      --gradient: radial-gradient(94% 94% at 10% 0%, hsl(250, 100%, 2%) 63.15%, rgba(7, 83, 59, 0.1) 70%), 
      radial-gradient(74% 131% at 25% 80%, hsl(0, 100%, 1%) 0%, hsl(0, 100%, 1%) 30%, hsl(160, 67%, 4%) 66%, hsl(141, 100%, 3%) 90%);
  }

  @supports (color: color(display-p3 1 1 1)) {
      :root {
          --color-interaction: color(display-p3 0.36 0.639 1);
      }            
  }
}

@media (prefers-contrast: high) {
  :root {
      --color-bg: white;
      --color-fg: black
  }
}

@media (prefers-contrast: high) and (prefers-color-scheme: dark){
  :root {
      --color-bg: black;
      --color-fg: white
  }
}

@media print {
  :root {
      --color-bg: transparent;
      --color-fg: black;
  }
}

* {
  box-sizing: border-box;
}

.Layout {
  background: url("./assets/img/noise.png") repeat;
  min-height: 100vh;
  padding: var(--gutter);
  position: relative;
  justify-content: space-between;
  display: flex;
  gap: calc(var(--gutter) * 2);
  flex-direction: column;
}

html,
body {
  background: var(--color-bg);
  margin: 0;
  padding: 0;
  color: var(--color-fg);
  font-family: var(--font);
  line-height: var(--body-line-height);
  font-size: var(--font-body);
  font-kerning: normal;

  --cursor-stroke: var(--color-fg);
  --cursor-size: 3rem;
  --cursor-position: -1.5rem;
  --cursor-stroke-width: 2px;
}

.font--casual {
  font-feature-settings: "ss02" on, "ss04" on;
}

.font--super {
  font-size: 0.75rem;
  font-feature-settings: "ss01" off;
}

.font--super.alt {
  font-feature-settings: "ss01" on;
}

.font--size-body {
  font-size: var(--font-body);
}

.font--small {
  font-size: 65%;
}

.color--coral {
  color: var(--color-coral);
}

.color--green {
  color: var(--color-green);
}

.color--purple {
  color: var(--color-purple);
}

.absolute {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.overflow-hidden {
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  font-feature-settings: "ss01" on, "ss02" on;
  font-size: var(--font-large);
  font-weight: bold;
  line-height: var(--font-large-line-height);
  letter-spacing: var(--letter-spacing);
  margin: 0;
  padding: 0;
  display: inline;
}

h2 {
  font-weight: normal;
}

a, a:visited {
  color: var(--color-fg);
  text-decoration: none;
  position: relative;
  transition: color 0.2s ease-in-out;
}

a::after {
  content: "↗";
  font-size: 1rem;
  vertical-align: baseline;
  padding-inline-start: 0.5ch;
  transform-origin: 50% 50%;
  width: 1ch;
  display: inline-block;
  overflow: visible;
  transition: transform .15s ease-in-out;
}

a:hover {
  color: var(--color-interaction);
}

a:hover::after {
  transform: rotate(45deg);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.email {
  writing-mode: vertical-lr;
  margin-inline-end: var(--gutter);
}

.email::after {
  content: none;
}

.clock {  
  display: none;
}

@media (min-width: 60em) {
  .clock {
    position: absolute;
    bottom: var(--gutter);
    right: var(--gutter);
    margin: 0;
    display: block;
  }

  ul {
    display: flex;
    flex-direction: row;
    gap: var(--gutter);
  }
}

::selection {
  text-shadow: 0.055em 0.075em var(--color-green);
  background: transparent;
  color: var(--color-fg);
}

.cursor_sparks {
  position: fixed;
  top: 0;
  left: 0;
  transform: scale(0);
  animation: sparks 0.8s 0.1s ease-in-out;
  pointer-events: none;
  z-index: 1;
  mix-blend-mode: difference;
}

@keyframes morphBorders{ 
  0% {opacity: 0;border-radius: 44% 56% 60% 40%/49% 55% 45% 51%}
  10% { opacity: 1; border-radius: 54% 46% 55% 45%/56% 50% 50% 44%}
  25% {border-radius: 45% 55%}
  50% {border-radius: 54% 46% 55% 45%/56% 50% 50% 44%}
  75%{border-radius: 52% 48% 40% 60%/58% 56% 44% 42%}
  90%{opacity: 1; border-radius: 44% 56% 60% 40%/49% 55% 45% 51%}
  to{opacity: 0;border-radius: 54% 46% 55% 45%/56% 50% 50% 44%}
}


@keyframes sparks {
  0% { 
    border-radius: 54% 46% 55% 45%/56% 50% 50% 44%;
    opacity: 0;
  }
  15% {border-radius: 45% 55%;}
  45% {border-radius: 54% 46% 55% 45%/56% 50% 50% 44%;}
  75%{border-radius: 52% 48% 40% 60%/58% 56% 44% 42%;}
  85% {
    opacity: 0.9;
  }
  to{
    border-radius: 44% 56% 60% 40%/49% 55% 45% 51%;
    opacity: 0;
  }
}